@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #6c5ce7;
}

.reset-tw, .reset-tw *{
    all:revert !important;
}